@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    padding: 20px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg") center center/cover no-repeat;
    background-size: cover;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(250, 235, 215, 0.508);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 1.3s ease-in-out;
    transform: translateY(-100vh);
}

form.active {
    transform: translateY(0);
}

h2 {
    background: #383848;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: large;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

input[type="submit"] {
        display: inline-block;
        padding: 15px 30px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        background: #383848;
        color: white;
        transition: .5s all ease-in-out;
}

input[type="submit"]:hover {
    background: #e4b95b;
   
}





